html {
    background-color: rgb(223, 146, 46);
}
body {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    padding: .5em 2em;
}
header {
    margin: 0;
    border-bottom: 2px solid black;
}
header h1 {
    margin: 0;
    padding: .5em 0;
    color: black;
}
table{
    display: unset;
}
.tablestuff1{
    display: unset;
}

main {
    margin: 0;
}

footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}


fieldset {
    margin: 0;
    margin-bottom: .5em;
    padding-left: 1em;
}

label {
    width: 10em;
    float: left;
    margin-right: 1em;
    text-align: right;
    margin-bottom: .2em;
}
input {
    
    width: 250px;
    padding: 5px;
}

br {
    clear: both;
    margin-bottom: .2em;
}
.textbox {
    width: 15em;
    margin-bottom: .2em;
}


#delete_button{
    width: 50px;
}